<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hayukleung.mice"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mice"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.hayukleung.mice.MiceActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--指纹识别-->
        <activity
            android:name="com.hayukleung.fingerprint.FingerprintActivity"/>

        <!--权限管理-->
        <activity
            android:name="com.hayukleung.permissions.PermissionsRequestActivity"
            android:theme="@style/AppTheme.Permissions"/>

    </application>

</manifest>
